# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: 
      - 'main'
      - 'releases/*'
    tags:
      - v*
      - test-*
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '6.0.100'
    - name: Restore dependencies
      run: dotnet restore TerrariaKitchen.csproj
    - name: Build
      run: dotnet build TerrariaKitchen.csproj --no-restore -c Release
    - name: Test
      run: dotnet test TerrariaKitchen.csproj --no-build --verbosity normal
    - name: Publish
      run: dotnet publish TerrariaKitchen.csproj -o /out/ -f net6.0 -c Release --self-contained false
    - name: Archive Plugin Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Plugin-Package
        path: |
          /out/TerrariaKitchen.dll
